body {
    background-color: rgb(244, 248, 249);
    font-family: Helvetica, Arial, sans-serif;
}

#tweetDiv {
    background: rgb(255, 255, 255);
    width: 500px;
    height: 140px;
    border-radius: 5px;
    border: solid 1px rgb(225, 232, 237);
    padding: 15px;
}

#tweetFooter {
    color: rgb(105, 120, 130);
}

img {
    transform: scale(0.7);
}

.usernameText {
    position: relative;
    bottom: 6px;
    font-weight: bold;
    font-size: 22px;
    color: rgb(0, 0, 0);
}

.usernameID {
    color: rgb(104, 109, 129);
    font-size: 18px;
    position: relative;
    bottom: 5px;
}

.tweetHeadPic {
    float: left;
    padding-right: 5px;
}

.tweetHeadText {
    float: left;
}

.clearDiv {
    clear: both;
}

.tweetHeadText {
    padding-top: 7px;
}

.followWrapper {
    padding-top: 10px;
}

button {
    background-color: white;
    border: solid 1px rgb(85, 172, 238);
    color: rgb(85, 172, 238);
    font-weight: bold;
    padding: 4px 12px 0 10px;
    border-radius: 3px;
    float: right;
}

button>p {
    font-size: 16px;
    margin: 0;
    float: right;
    padding-top: 4px;
}

#tweetBody {
    padding-left: 11px;
}

#tweetFooter {
    padding-left: 11px;
    font-size: 14px;
}

#tweetFooter>p {
    margin: 0;
    padding-top: 10px;
}

.icon {
    position: relative;
    right: 7px;
}

#tweetFooter>img {
    transform: scale(0.5);
    color: rgb(101, 116, 127);
}

.rfCount {
    position: relative;
    bottom: 6px;
    right: 13px;
}